/* GLOBAL */

body {
    background-color: "#181B20";
}

#astronaut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #181b20;
}



/* HEAD */

#head-container {
    position : relative;
    display : flex;
}

#head {  
    background : white;
    width : 155px;
    height : 120px;
    border-radius : 40%;
    z-index : 3;
}

#head-center {
    position : absolute;
    width : 125px;
    height : 100px;
    border-radius : 40%;
    top: 15px;
    left: 15px;
    z-index: 2;
}

#first-color {
    position : absolute;
    background : #47AEC9;
    width : 100%;
    height : 50px;
    border-radius: 40%;
    z-index : 2;
} 
#second-color {
    position : absolute;
    background : #3f9db9;
    width : 100%;
    height : 50px;
    border-radius: 24%;
    top : 25px;
    z-index : 3;
} 
#third-color {
    position : absolute;
    background : #378ca6;
    width : 100%;
    height : 40px;
    border-radius: 40%; 
    z-index : 6;
    top : 45px;
} 

 #ear {
    position: absolute;
    width: 165px;
    height: 20px;
    top: 270px;
    background: #a5a5a5;
    border-radius: 20px;
    z-index: 0; 
 }

 #head-container:after {
     position : absolute;
     width : 100px;
     height : 52px;
     background :  #181b20;
     border : 10px solid #d1d3d2; 
     border-radius : 30%;
     content : "";
     z-index : 2;
     right: -40px;
    bottom: -7px;
 }



/* ARMS*/

#arms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 2em;
    background-color: white;
    margin-top: 22px;
    z-index: 2;
}

#arms-bar-container {
    margin-top: 20px;
}

.arms-bar {
    width: 200px;
    border: 8px solid #18abc8;
    margin: 16px;
    border-radius: 2em;
}

.arms-bar:nth-child(2) {
    border-color: #1a8ca9;
}



/* BODY */

#body {
    position: absolute;
    margin-top: 160px;
    height: 200px;
    width: 140px;
    border-radius: 2em;
    background-color: white;
    z-index: 2;
    border: 5px solid #181b20;
}



/* LEGS */

.legs {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 90px;
    height: 200px;
    margin-top: 560px;
    z-index: 2;
}

.leg {
    background-color: white;
    width: 40px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #181b20;
}

.leg:nth-child(1) {
    border-right: 2px;
}


