/* GLOBAL */

body {
    background-color: #181B20;
}

#space {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

#astronaut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #181b20;
}



/* HEAD */

#head-container {
    position: relative;
    display: flex;
    margin-bottom: -7px;
    z-index: 6;
}

#head {
    background : white;
    width : 155px;
    height : 120px;
    border-radius : 40%;
    z-index : 7;
}

#head-center {
    position : absolute;
    width : 125px;
    height : 100px;
    border-radius : 40%;
    top: 15px;
    left: 15px;
    z-index: 2;
}

#first-color {
    position : absolute;
    background : #47AEC9;
    width : 100%;
    height : 50px;
    border-radius: 40%;
    z-index : 2;
}
#second-color {
    position : absolute;
    background : #3f9db9;
    width : 100%;
    height : 50px;
    border-radius: 24%;
    top : 25px;
    z-index : 3;
}
#third-color {
    position : absolute;
    background : #378ca6;
    width : 100%;
    height : 40px;
    border-radius: 40%;
    z-index : 6;
    top : 45px;
}

 #ear {
    position: absolute;
    width: 182px;
    height: 20px;
    top: 52px;
    background: #a5a5a5;
    border-radius: 20px;
    z-index: 1;
    left: -13px
 }

 #head-container:after {
     position : absolute;
     width : 100px;
     height : 52px;
     background :  #181b20;
     border : 10px solid #d1d3d2;
     border-radius : 30%;
     content : "";
     z-index : 0;
     right: -40px;
    bottom: -7px;
 }


 /*cou*/

 #cou {
    height: 22px;
    width: 90px;
    z-index: 5;
    top: 111px;
    background: #a5a5a5;
    border-radius: 100%;
    position: absolute;
    left: 33px;
 }


/* ARMS*/

#arms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 2em;
    background-color: white;
    margin-top: 22px;
    z-index: 2;
}

#arms-bar-container {
    margin-top: 20px;
}

.arms-bar {
    width: 200px;
    border: 8px solid #18abc8;
    margin: 16px;
    border-radius: 2em;
}

.arms-bar:nth-child(2) {
    border-color: #1a8ca9;
}



/* BODY */

#body {
    position: absolute;
    margin-top: 160px;
    height: 200px;
    width: 140px;
    border-radius: 2em;
    background-color: white;
    z-index: 2;
    border: 5px solid #181b20;
}

#body-center {
    position: absolute;
    height: 100px;
    top: 29px;
    left: 30px;
    width: 83px;
    background: #d1d3d2;
    display : flex;
    justify-content : space-around;
}

#rectangle-container {
    display: flex;
    position: absolute;
    width: 83px;
    top: 30px;
    height: 100px;
    flex-direction: row;
    background: #a5a5a5;
}

#rectangle {
    position : absolute;
    width : 50px;
    height : 20px; 
    background : white;
    z-index: 1;
    display : flex;
    flex-direction : column;
    top: 40px;
    padding-top : 20px;
    
}

#carre {
    position : absolute;
    width : 50px;
    height : 20px; 
    background : white;
    z-index: 1;
}

.rond {
    margin-top : 10px;
    background : white;
    border-radius : 50%;
    width : 10px;
    height : 10px;
}


/* LEGS */

.legs {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 130px;
    height: 200px;
    margin-top: 560px;
    z-index: 2;
}

.leg {
    background-color: white;
    width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #181b20;
}

.leg:after {
    content: "";
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 40px;
    margin-top: 115px;;
    background-color: white;
    border-radius: 2em 2em 0 0;
    border: 4px solid #181B20;
}

.leg:nth-child(1)::after {
    margin-left: -10px;
}


.leg:nth-child(2)::after {
    margin-left: -8px;
}



/* BONUS */

#astronaut {
    animation: shake 9s infinite linear;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-3deg); }
    20% { transform: translate(-3px, 0px) rotate(3deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(3deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(3deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-3deg); }
}
