

*, *::after,*::before{
  box-sizing : border-box;
}

html{
  font-family: sans-serif;
}

body{
  background-color : yellow;
}

#words{
  background-color : #FFF;
  width : 70ch;
  margin : auto;
  padding : 1em;
  margin-top : 2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#words li{
  padding : 0.5em;
}

.quote{
  display: flex;
  padding : 0.5em;
  border : solid 1px #CCCCCC
}

blockquote{
  font-style: italic;
  padding : 1em;
}

.weather{
  padding : 0.5em;
  border : solid 1px #CCCCCC
}

h3{
  font-weight : 600;
  font-size : 1.1em;
  margin-bottom : 0.5em;
}
