html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-section {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
}

#fish-section {
    background-color: snow;
}

#bridge-section {
    background-color: rgba(151, 79, 42, 0.88);
}

#igloo-section {
    background-color: rgba(5, 4, 46, 0.85);
}

.animal-icon {
    width: 50px;
    height: 50px;
    padding: 16px;
    cursor: pointer;
}

.animal-icon:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0, 0) }
    50% { transform: translate(0, -10px) }
    100% { transform: translate(0, 0) }
}

/**/

.selection {
    position: absolute;
    top: 50%;
    left: 20px;
    padding: 1em;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Boogaloo', serif;
    font-size: 18px;
    color: white;
}

.selection > img {
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
}

.selection > button {
    margin-top: 16px;
}
