html, body {
    overflow: hidden;
}

.container {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    background-color: red;
}
